<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'error')}">
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-customize">
        <div class="navbar-header">
            <div class="navbar-brand" href="#">帅cc</div>
        </div>
    </div>
</nav>

<div class="container content">
    <div class="page-header">
        <h2>欢迎访问我的网站</h2>
    </div>
    <p class="lead">如有问题可以关注 <a href="http://www.cnblogs.com/gaochaochao">我的博客</a></p>
</div>
</body>
</html>

